<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Weather Data API</h1>
<hr>
<h1>Particular Date Data</h1>
<p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
<p>URL Example: <a href="http://127.0.0.1:5000/api/v1/10/1996-04-06">http://127.0.0.1:5000/api/v1/10/1996-04-06</a></p>
<hr>
<h1>Particular Station Data</h1>
<p>URL format: http://127.0.0.1:5000/api/v1/station</p>
<p>URL Example: <a href="http://127.0.0.1:5000/api/v1/10">http://127.0.0.0.1:5000/api/v1/10</a></p>
<hr>
<h1>Particular Station and Particular Year</h1>
<p>URL format: http://127.0.0.1:5000/api/v1/station/year</p>
<p>URL Example: <a href="http://127.0.0.1:5000/api/v1/10/1995">http://127.0.0.0.1:5000/api/v1/10/1995</a></p>
<p>List of stations is below</p>

<p>{{data|safe}}</p>

</body>
</html>